@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: #000000;
    padding: 0 20px 0 0;
    color: white;
}
.logo {
    position:relative;
    margin:0;
    width: 90px;
    min-height:90px;
    background-color: white;
}

.logo > img {
    margin-left: 22px;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
    font-weight:600;
    text-transform: uppercase;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
#hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-image: url('../img/c_mask.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right -41px;
    
}
#content {
    height: 936px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddd;
    text-align: center;
}
#gallery {
    overflow: hidden;
    background: #bbb;
    padding: 50px 0;
}
.gallery-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.gallery {
    display: flex;
    position: relative;
}
.gallery-item {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}