body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: #000000;
    padding: 0 20px 0 0;
    color: white;
}
.logo {
    position:relative;
    margin:0;
    width: 90px;
    min-height:90px;
    background-color: white;
}

.logo > img {
    margin-left: 22px;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
#hero {
    height: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
#content {
    height: 936px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddd;
    text-align: center;
}
#gallery {
    overflow: hidden;
    background: #bbb;
    padding: 50px 0;
}
.gallery-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.gallery {
    display: flex;
    position: relative;
}
.gallery-item {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}